body{
  margin: 0;
  padding: 0;
  background-color: rgb(236 102 101);
}
h1{
  color: white;
  text-align: center;
  font-size: 60px;
  margin-top: 30vh;
}
h2{
  color: white;
  text-align: center;
}
h3{
  color:white;
  text-align: center;
  line-height: 1px;
}
 i{
  color: white;
  font-size: 35px;
  text-align: center;
  width: 100%;
  margin: auto;
}