body{
    margin: 0;
    padding: 0;
}
.App{
    width: 60%;
    margin: auto;
    margin-top: 10px;
}
/* .container{
    background-image: url("https://image.tmdb.org/t/p/w500/mqsPyyeDCBAghXyjbw4TfEYwljw.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    background-color: aliceblue;
    width: 100%;
    height: 45vh;
    margin-top: 5px;
} */
.img{
display: flex;
gap: 10px;
}
img{
    width: 70px;
    height: 100px;
    margin-left: 40px;
    margin-top: 20px;
}
.details{
    color: rgb(249, 242, 242);
}
p{
    margin-left: 40px;
    color: rgb(241, 237, 237);
    max-width: 400px;
    background-color: rgb(196, 110, 4);
}